
  #button1{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: 'Montserrat', sans-serif;
    /*input has OS specific font-family*/
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    }
  #button1:hover {
    cursor: hand;
    text-decoration: underline;
  }

  #welcome{
    font-family: 'Sora', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 15%;
    margin-left: 5%;
    font-size: calc(.5em + 3vw);
  }

  #a{
    font-family: 'Sora', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 0%;
    margin-left: 5%;
    font-size: calc(.5em + 1vw);
  }

  #a1{
    font-family: 'Sora', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: calc(.5em + 0.7vw);
  }

  #linked{
    font-family: 'Sora', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
    font-size: calc(.5em + 3vw);
  }


  #projbut{
    margin-left: 5%;
    cursor: pointer;
  }

  .animated {
    font-size: 60px;
    font-weight: 900;
    text-decoration: none;
    background: linear-gradient(to right, #CCC 50%, #FF5858 50%, #CC2E5D);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
   }
   
   .animated:hover {
    background-position: -100%;
   }

   #bt1{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
  }