body {
  margin: 0;
  display: relative;
  background-image: url(https://www.teahub.io/photos/full/35-354842_high-resolution-grey-abstract-wallpaper-full-size-siwallpaperhd.jpg);
  background-repeat: repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
