@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
/*   color variables */
/*   border radius */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  color: white;
  margin: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  background-color: rgb(27, 26, 26);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  margin-top: 3%;
}
.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card__title {
  padding: 1rem;
}
.card__description {
  padding: 0 1rem;
}
.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #d50000;
  background: transparent;
  color: #d50000;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}
.card:hover {
  transform: scale(1.02);
}
.card:hover .card__btn {
  background: #d50000;
  color: white;
  cursor: pointer;
}

.skills{
  width: 28vw;
  height: 28vw;
}
.sname{
  position: relative;
  left: 55%;
  top: -40%;
  font-size: 140%;
  font-weight: 800;
}
.icon-card {
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 30px;
  margin: 7px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    font-family: Oxygen, sans-serif;
    color: white;
    margin: 2rem;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
  }
  .skills{
    width: 10vw;
    height: 10vw;
    position: relative;
    top: 0%;
  }
  .sname{
    display: none;
  }
  .icon-card {
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }
  .card {
    overflow: hidden;
    background-color: rgb(27, 26, 26);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-top: 3%;
  }
  .card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }
  .card__title {
    padding: 1rem;
  }
  .card__description {
    padding: 0 1rem;
  }
  .card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
  }
  .card:hover {
    transform: scale(1.02);
  }
  .card:hover .card__btn {
    background: #d50000;
    color: white;
    cursor: pointer;
  }
 }

 @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    body {
      font-family: Oxygen, sans-serif;
      color: white;
      margin: 2rem;
    }
    
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      justify-content: center;
    }
    .skills{
      width: 10vw;
      height: 10vw;
      position: relative;
      top: 0%;
    }
    .sname{
      line-height: normal;
      display: inline-block;
      vertical-align: middle;
      bottom: 40%;
      left: 20%;
      font-size: 200%;
      font-weight: 800;
    }
    .icon-card {
      background-color: rgba(0, 0, 0, 0.493);
      border-radius: 11px;
      box-shadow: 0 3px 10px var(--secondary-shadow);
      padding: 20px;
      margin: 10px;
    }
    .card {
      overflow: hidden;
      background-color: rgb(27, 26, 26);
      border-radius: 0.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      transition: transform 200ms ease-in;
      margin-top: 3%;
    }
    .card__image {
      height: 12rem;
      width: 100%;
      object-fit: cover;
    }
    .card__title {
      padding: 1rem;
    }
    .card__description {
      padding: 0 1rem;
    }
    .card__btn {
      padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid #d50000;
      background: transparent;
      color: #d50000;
      border-radius: 0.2rem;
      transition: background 200ms ease-in, color 200ms ease-in;
    }
    .card:hover {
      transform: scale(1.02);
    }
    .card:hover .card__btn {
      background: #d50000;
      color: white;
      cursor: pointer;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    body {
      font-family: Oxygen, sans-serif;
      color: white;
      margin: 2rem;
    }
    
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      justify-content: center;
    }
    .skills{
      width: 10vw;
      height: 10vw;
      position: relative;
      top: 0%;
    }
    .sname{
      line-height: normal;
      display: inline-block;
      vertical-align: middle;
      bottom: 40%;
      left: 20%;
      font-size: 200%;
      font-weight: 800;
    }
    .icon-card {
      background-color: rgba(0, 0, 0, 0.493);
      border-radius: 11px;
      box-shadow: 0 3px 10px var(--secondary-shadow);
      padding: 20px;
      margin: 10px;
    }
    .card {
      overflow: hidden;
      background-color: rgb(27, 26, 26);
      border-radius: 0.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      transition: transform 200ms ease-in;
      margin-top: 3%;
    }
    .card__image {
      height: 12rem;
      width: 100%;
      object-fit: cover;
    }
    .card__title {
      padding: 1rem;
    }
    .card__description {
      padding: 0 1rem;
    }
    .card__btn {
      padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid #d50000;
      background: transparent;
      color: #d50000;
      border-radius: 0.2rem;
      transition: background 200ms ease-in, color 200ms ease-in;
    }
    .card:hover {
      transform: scale(1.02);
    }
    .card:hover .card__btn {
      background: #d50000;
      color: white;
      cursor: pointer;
    }
}


@media (min-width:1281px) { 
  body {
    font-family: Oxygen, sans-serif;
    color: white;
    margin: 2rem;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
  }
  .skills{
    width: 10vw;
    height: 10vw;
    position: relative;
    top: 0%;
  }
  .sname{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    bottom: 40%;
    left: 20%;
    font-size: 200%;
    font-weight: 800;
  }
  .icon-card {
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }
  .card {
    overflow: hidden;
    background-color: rgb(27, 26, 26);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-top: 3%;
  }
  .card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }
  .card__title {
    padding: 1rem;
  }
  .card__description {
    padding: 0 1rem;
  }
  .card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
  }
  .card:hover {
    transform: scale(1.02);
  }
  .card:hover .card__btn {
    background: #d50000;
    color: white;
    cursor: pointer;
  }
}